*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url(./img/bgc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: #fff;
    padding:50px 130px;
}

.fun{
    margin:30px 0;
}