.first_view{
    background: transparent url('../img/catch.png') 100% 0% no-repeat padding-box;
    height:100vh;
    position:relative;
    background-color: #fff;
    @include tab{
        background:url('../img/catch_sp.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.fv_wrap{
    position:absolute;
    height:214px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    left:11%;
    top:50%;
    min-width:390px;
    text-align:right;
    transform: translate(0,-50%);
    letter-spacing: 3.8px;
    @include tab{    
        flex-direction: column-reverse;
        left:50%;
        top:80%;
        text-align:center;
        color:#fff;
        height:0;
        min-width:0;
        transform:translate(-50%, -50%);
        width:100%;
    }
    @include sp{
        top:50%;
    }
    &_p1,&_p2{
        font-size:3.8rem;
    }
    &_p1{
        font-family: "ヒラギノ明朝 Pro","W3";
        @include sp{
            font-size: 2.3rem;
            line-height:4rem;
        }
    }
    &_p2{
        font-family: "Zapfino";
        @include sp{
            font-size: 2.8rem;
            line-height:9.5rem;
        }
    }
}