header{
    position: absolute;
    z-index: 99;
    @include tab{
        background-color: #ffffff;
        position: relative;
    }
}


.hd_wrap{
    display:flex;
    width:62%;
    align-items:center;
    padding:68px 0 0 77px;
    @include tab{
        width:100%;
        padding:24px 20px 24px 21px;
        justify-content: space-between;
    }
}

.hd_logo{
    font-size:3.8rem;
    letter-spacing: 3.8px;
    min-width:323px;
    @include tab{
        font-size: 2.2rem;
        min-width:0;
    }
}

.hd_nav{
    @include tab{
        display:none;
    }
}

.sp_nav{
    display:none;
}

.hd_nav ul{
    display:flex;
    li{
        margin-left:20px;
        color:$Lblack;
        font-size: 1.8rem;
        letter-spacing: 1.8px;
        cursor: pointer;
        &:first-child{
        color:#000000;
        &:after{
            display: block;
            content: "";
            width: 48px;
            height: 1px;
            background-color: #000;
            }
        }
    }
}


